@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@media (max-width: 59.3125em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 59.375rem) {
  .hide-for-desktop {
    display: none;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
}

.description {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-bottom: 3rem;
}

@media (min-width: 59.375rem) {
  .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 90px 100px;
    gap: 100px;
  }
}

.description-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 37px;
}

@media (min-width: 81.25em) {
  .description-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.description-gallery .gallery-items {
  height: 90px;
  padding: 3px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
}

.description-gallery .gallery-items::-webkit-scrollbar {
  width: 2px;
}

.description-gallery .gallery-items::-webkit-scrollbar-track {
  background: transparent;
}

.description-gallery .gallery-items::-webkit-scrollbar-thumb {
  background: #5ECE7B;
}

@media (min-width: 81.25em) {
  .description-gallery .gallery-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 40px;
    height: 600px;
    width: 100%;
    overflow-y: auto;
  }
}

.description-gallery .gallery-items img {
  width: 79px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.description-gallery .gallery-items img:hover {
  opacity: 0.5;
}

.description-gallery .gallery-items img.selected {
  -webkit-box-shadow: 0 0 3px 3px #5ECE7B;
          box-shadow: 0 0 3px 3px #5ECE7B;
}

.description-gallery .gallery-current-product {
  margin: 0 auto;
  width: 95%;
  max-width: 610px;
  max-height: 511px;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  min-height: 511px;
  max-width: 320px;
}

@media (min-width: 59.375rem) {
  .description-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.description-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@media (max-width: 39.9375em) {
  .description-content .title {
    text-align: center;
  }
}

.description-content .title h2 {
  font-weight: 600;
  font-size: 1.875rem;
}

.description-content .title h3 {
  font-weight: 400;
  font-size: 1.875rem;
}

.description-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (max-width: 59.3125em) {
  .description-content .price {
    text-align: center;
  }
}

.description-content .price h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.description-content .price p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.description-content .button {
  width: 95%;
  max-width: 292px;
  padding: 15.5px 0;
  border: none;
  background-color: #5ECE7B;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.description-content .button:hover {
  opacity: 0.5;
}

.description-content .about {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

@media (max-width: 59.3125em) {
  .description-content .about {
    text-align: center;
  }
}

.description-content .about h1,
.description-content .about h2,
.description-content .about h3,
.description-content .about p,
.description-content .about li {
  margin: 0.5rem 0;
}

.description-content h1,
.description-content h2,
.description-content h3,
.description-content p {
  margin: 0;
}

.attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.attributes h3 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 59.3125em) {
  .attributes h3 {
    text-align: center;
  }
}

.attributes-options {
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media (min-width: 59.375rem) {
  .attributes-options {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.attributes-option {
  position: relative;
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #1D1F22;
  background-color: #fff;
}

.attributes-option > label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.attributes-option > input[type="radio"] {
  display: none;
}

.attributes-option > input[type="radio"]:checked + label {
  color: #fff;
  background-color: #1D1F22;
}

.attributes-option.swatch > input[type="radio"]:checked + label {
  -webkit-box-shadow: 0px 0px 3px 3px #5ECE7B;
          box-shadow: 0px 0px 3px 3px #5ECE7B;
  background-color: inherit;
}

.attributes-option:hover {
  opacity: 0.5;
}

.header {
  height: 80px;
  padding: 0px 6.736vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 59.375rem) {
  .header {
    padding: 0px 97px;
  }
}

.header-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-categories option {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D1F22;
  padding: 0 15px;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  border: 0;
  background-color: transparent;
  border-bottom: solid 2px transparent;
  cursor: pointer;
}

.header-categories option:hover:not(.active) {
  opacity: 0.5;
}

.header-categories option.active {
  color: #5ECE7B;
  border-bottom: solid 2px #5ECE7B;
  font-weight: 600;
}

@media (min-width: 59.375rem) {
  .header-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-currency {
  width: auto;
  margin: 0;
}

.header-cart-button {
  width: auto;
  margin: 0;
}

@media (max-width: 59.3125em) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 59.375rem) {
  .hide-desktop {
    display: none !important;
  }
}

.cart-button {
  border: none;
  background-color: transparent;
  position: relative;
}

.cart-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cart-button-items {
  position: absolute;
  top: -30%;
  left: 60%;
  background-color: #1D1F22;
  color: #fff;
  min-width: 20px;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
}

.currency-button {
  position: relative;
  width: 20px;
  cursor: pointer;
}

.currency-button button {
  border: none;
  background-color: transparent;
  color: #1D1F22;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}

.currency-button button:hover {
  opacity: 0.5;
}

.currency-button button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.currency-button button img.active {
  -webkit-animation: rotate 0.5s;
          animation: rotate 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.currency-button nav {
  position: absolute;
  top: 170%;
  left: -100%;
  width: 114px;
  padding: 10px 0;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 4px 35px rgba(168, 172, 176, 0.2));
          filter: drop-shadow(0 4px 35px rgba(168, 172, 176, 0.2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.currency-button option {
  color: #1D1F22;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 22px;
}

.currency-button option:hover {
  opacity: 0.5;
}

.header-hamburger {
  width: 40px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.header-hamburger .line-1,
.header-hamburger .line-2,
.header-hamburger .line-3 {
  height: 3px;
  width: 100%;
  background: #1D1F22;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header-hamburger .line-1.active {
  -webkit-transform: translate(0, 190%) rotate(45deg);
          transform: translate(0, 190%) rotate(45deg);
}

.header-hamburger .line-2.active {
  display: none;
}

.header-hamburger .line-3.active {
  -webkit-transform: translate(0, -190%) rotate(-45deg);
          transform: translate(0, -190%) rotate(-45deg);
}

.products {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 110px;
}

@media (min-width: 59.375rem) {
  .products {
    padding: 90px 100px;
  }
}

.products h1 {
  margin: 0;
  font-weight: 400;
  font-size: 42px;
  color: #1D1F22;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.out-of-stock {
  position: absolute;
  top: 180px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #8D8F9A;
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 1;
}

.out-of-stock-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.products-list-item {
  position: relative;
  height: 444px;
  width: 98%;
  max-width: 385px;
}

.products-list-item a {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  color: #1D1F22;
}

.products-list-item a.unavailable {
  opacity: 0.5;
}

.products-list-item a:hover {
  background-color: #fff;
  -webkit-filter: drop-shadow(0 4px 35px rgba(168, 172, 176, 0.2));
          filter: drop-shadow(0 4px 35px rgba(168, 172, 176, 0.2));
}

.products-list-item a:hover .products-list-item-cart {
  visibility: visible;
}

.products-list-item-image {
  width: 100%;
  height: 100%;
  max-height: 338px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-list-item-cart {
  position: absolute;
  top: 75%;
  left: 80%;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5ECE7B;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.products-list-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.products-list-item-content h3,
.products-list-item-content p {
  margin: 0;
}

.products-list-item-content h3 {
  font-size: 1.125rem;
  font-weight: 300;
}

.products-list-item-content p {
  font-size: 1.125rem;
  font-weight: 600;
}
/*# sourceMappingURL=index.css.map */